// Svg image
.map-wrap {
  width: 100%;
  overflow: hidden;
}

#svg-container svg {
  width: 100%;
  height: auto;
  display: block;
  transform: translateX(-4%);

  path {
    fill: #2bac73;
    stroke: #fff;
    stroke-width: 1;
    cursor: pointer;
    transition: fill 0.2s;
  }

  path:hover {
    fill: #ff914d;
  }
}
